/* header */
header {
  font-family: "Montserrat", sans-serif;
  color: #31a5ac;
}
.main {
  font-family: "Roboto", sans-serif;
  margin-right: 0px;
}
.calculate {
  background-color: #59a5ff;
  color: #ffffff;
}
.save {
  background-color: #59a5ff;
  color: #ffffff;
}
